.MainChat
  .informations
    .RightInformation
      .RightInformation__GroupName
        = @group.name
      %ul.RightInformationMembers
        %li<
          Member:
        - @group.users.each do |user|
          %li.RightInformationMembers__member<
            = user.name
    .LeftInformation
      .LeftInformation__btn
      = link_to edit_group_path(@group),class: "LeftInformation__btn" do
        Edit
  .messages
    = render @messages      
  .form
    =form_for [@group, @message]  do |f|
      .FormArea
        .TypeChat
          = f.text_field :content, class: "TypeChat__text", placeholder: "type a message"
          = f.label :image, class: "TypeChat__image" do
            = icon('fas', 'image', class: "TypeChat__image")             
            = f.file_field :image, class: "TypeChat__image--none"
        .FormArea__SendBtn
          = f.submit 'Send', class: "FormArea__SendBtn"