.SideBar
  .UserBox
    .UserName
      .UserName__name
        = current_user.name
      .UserName__link
        = link_to new_group_path, class: "UserName__btn UserName__btn--groups" do
          = icon('fas', 'edit')
          %span<>
        = link_to edit_user_path(current_user), class: "UserName__btn UserName__btn--option" do
          = icon('fas', 'cog')
          %span<>
  .GroupBox
    .FirstGroup
      .FirstGroup__GroupName
        techcamp
      .FirstGroup__message
        まだメッセージがありません
    
    .FirstGroup
      .FirstGroup__GroupName
        techcamp
      .FirstGroup__message
        まだメッセージがありません